# python files
*.pyc

# log files
logfiles/
utilities/logfiles/

# solo files
solo/bin/sofm
solo/bin/solo
solo/bin/seqsolo
solo/output/
solo/inf/
solo/input/
solo/log/

# control files
controlfiles/AmeriFlux/
controlfiles/OzFlux/

# Jupyter notebook files
ipynb/

# plots
plots/

# stashed files
stash/

# mac files
.DS_store

# exception for .gitignore
!.gitignore
!.gitattributes
